page-home {
//ion-content{
  //  background: wheat !important;
//}
.bg-image{
    background-image: url(../assets/imgs/bck.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
}
