page-data-binding {
    .bg-image{
        background-image: url(../assets/imgs/writing.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }
}
